
#filter {
  display: inline;
  float: right;
  font-size: 15px;;
}
h2 {
  display: inline;
}
p {
    margin: 0em;
  font-size: 20px;
}
#stringinput {
  width: 300px;
}
.upperline {
  border: 0.5px solid black;
}
.school{
  width: 300px;
  height: 180px;
  background-color: #f0f0f5;
  vertical-align: middle;
  display: table-cell;
  padding-left: 15px;
  margin: 0em;
}
.edu{
  color:grey ;
  font-family: sans-serif;
}
.address {
  font-size: 18px;
  font-family: Arial;
}
